@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  background-color: #1f2937;
  color: white;
}

.is-illegal {
  overflow: hidden;
  position: relative;
}
.is-illegal::before, .is-illegal::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  border: 5px solid transparent;
  width: 0;
  height: 0;
}
.is-illegal::before {
  top: 0;
  left: 0;
  border-top-color: #ef4444;
  border-right-color: #ef4444;
  animation: border 2s infinite;
}
.is-illegal::after {
  bottom: 0;
  right: 0;
  animation: border 2s 1s infinite, borderColorRed 2s 1s infinite;
}

.is-not-illegal {
  overflow: hidden;
  position: relative;
}
.is-not-illegal::before, .is-not-illegal::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  border: 5px solid transparent;
  width: 0;
  height: 0;
}
.is-not-illegal::before {
  top: 0;
  left: 0;
  border-top-color: #22c55e;
  border-right-color: #22c55e;
  animation: border 2s infinite;
}
.is-not-illegal::after {
  bottom: 0;
  right: 0;
  animation: border 2s 1s infinite, borderColorGreen 2s 1s infinite;
}

@keyframes border {
  0% {
    width: 0;
    height: 0;
  }
  25% {
    width: 100%;
    height: 0;
  }
  50% {
    width: 100%;
    height: 100%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}
@keyframes borderColorRed {
  0% {
    border-bottom-color: #ef4444;
    border-left-color: #ef4444;
  }
  50% {
    border-bottom-color: #ef4444;
    border-left-color: #ef4444;
  }
  51% {
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  100% {
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}
@keyframes borderColorGreen {
  0% {
    border-bottom-color: #22c55e;
    border-left-color: #22c55e;
  }
  50% {
    border-bottom-color: #22c55e;
    border-left-color: #22c55e;
  }
  51% {
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  100% {
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}
